@use '../../../styles/mat-card' as mat-card;

.page-container {
  display: flex;
  flex-direction: column;
}

.back-btn {
  width: fit-content;
  margin-top: 20px;
}

.card-container {
  display: flex;
}

.fetching-msg,
.person-name {
  padding: 50px 0;
  line-height: 40px;
  font-size: 32px;
  text-align: center;
}

mat-card {
  flex-grow: 1;

  &:not(:last-child) {
    margin-right: mat-card.$card-margin;
  }
}

@media (max-width: 959px) {
  .card-container {
    flex-direction: column;

    > mat-card.mat-mdc-card {
      margin: 0;

        &:not(:last-child) {
          margin-bottom: mat-card.$mobile-card-margin;
        }
    }
  }
}
