.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  height: 28px;
  font-weight: 400;
  width: fit-content;

  mat-label {
    line-height: 28px;
    font-size: 22px;
  }
}

mat-form-field {
  width: 250px;
  margin-right: 10px;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}
