<mat-form-field class="example-form-field">
  <mat-label>Search by name</mat-label>
  <input matInput type="text" [formControl]="nameCtrl">
  @if (nameCtrl.value) {
    <button matSuffix matIconButton aria-label="Clear" (click)="nameCtrl.reset()">
      <mat-icon>close</mat-icon>
    </button>
  }
</mat-form-field>

<table mat-table [dataSource]="(persons$ | async)! | nameFilter:(nameSearch$ | async)" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let person">{{ person.name }}</td>
  </ng-container>

  <ng-container matColumnDef="piiTypes">
    <th mat-header-cell *matHeaderCellDef>PII Types</th>
    <td mat-cell *matCellDef="let person">{{ person.pii | piiTypes }}</td>
  </ng-container>

  <ng-container matColumnDef="dataSources">
    <th mat-header-cell *matHeaderCellDef>Data Source Count</th>
    <td mat-cell *matCellDef="let person">{{ person.dataSources | dataSourceCount }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

